@using LIAMockupMVC2.Models.ViewModel
@model LIAMockupMVC2.Models.ViewModel.QsInfoViewModel

@{
    ViewData["Title"] = "TestingQuestionsJoin";
}
@{
    var allQuestionsWithAnswerInfo = ViewData["allQuestionsWithAnswerInfo"] as List<QsInfoViewModel>;
}

<div class="container-space-bottom mt-5 p-2 text-center">
    <h1 class="display-4 mb-5">Testing getting info</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.QuestionText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuestionNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnswerText)
                </th>
                                <th>
                    @Html.DisplayNameFor(model => model.AnswerNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GroupName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrgName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in allQuestionsWithAnswerInfo)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => item.QuestionText)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnswerText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnswerNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrgName)
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>